body,
ul{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

/*AQUI SE AGREGAN LAS FUENTES */
@font-face {
    font-family: loveya;
    src: url(font/LoveYa.ttf)
}

@font-face {
    font-family: cabinRegular;
    src: url(font/CabinSketch-Regular.ttf)
}

@font-face {
    font-family: cabinBold;
    src: url(font/CabinSketch-Bold.ttf)
}

@font-face {
    font-family: patrickHand;
    src: url(font/PatrickHand.ttf)
}

.img_icon {
	width: 3.5em;
    margin-top: 3vw;
	padding-left: 3%;
	padding-right: 3%;
}

.tarjeta {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 15px;
	margin: 3%;
	border: 1px solid;
	padding: 1.2%;
	background-color: #0115db80;
}

letraTituloCard {
	padding: 1%;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}

.divEstudio {
	padding: 3%;
}

letraContenidoCard {
	color: #fff;
	font-weight: 200;
}

.divMarginContenidoCard {
	list-style: disc;
	margin-left: 11px;
}

.divMarginContenidoCardExperiencia {
	margin-left: 10px;
	list-style: disc;
}

.img_inicio {
	width: 80%;
	border-radius: 10px;
	box-shadow: 3px 6px 10px rgba(205, 205, 205, 0.735);
}

.divIconoEnlace{
	display: flex;
    grid-gap: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	align-items: center;
}

.img_IconoEnlace{
	width: 30px;
	height:30px ;
	padding-left: 3%;
}

.ulTema {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

.divTemaExperiencia {
	box-shadow: 0px 0px 5px #898fff;
	text-align: left;
	margin-top: 10px ;
	padding: 10px;
	border-radius: 10px;
	background-color: #0115db80;
}

.img_informacion{
	width: 4em;
	padding-right: 3%;
}

.divTemaInformacion {
	display: flex;
    grid-gap: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
}

.divTemaCV {
	margin-top: 25px;
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

.titutloInformacion {
	width: 100%;
	height: 100%;
}

letraInformacion{
	text-align: left;
	font-weight: bold;
}

.ulTemaExperiencia {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: left;
	padding-left: 6px;
}

.container {
	width: 75vw;
	max-width: 250px;
	min-width: 130px;
	margin: auto;
	padding-bottom: 20px;
	text-align: center;
}

tituloEducacion {
	font-weight: 600;
	font-size: 125%;
}

tituloExperiencia {
	font-weight: 600;
	font-size: 130%;
	padding: 0vw;
}

tiempoExperiencia {
	font-weight: 600;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

.containerTituloEducacion {
	display: flex;
	justify-content: center;
	position: relative;
}

.img_vacia {
	max-width: 0%;
	min-width: 0%;
}


body {
	background:#defdff;
}

body{
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.65em;
}

@media screen and (max-width: 736px) {

	body{
		font-size: 11pt;
		letter-spacing: 0.0375em;
	}
}

a {
	-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
	
	color: inherit;
	text-decoration: none;
}

p {
	margin: 3% 0% 2em 0%;
	font-family: 'cabinRegular';
	font-size: 150%;
}

/* Section/Article */
section.special,
article.special {
	text-align: center;
}

header.major h2 {
	border-bottom: solid 2px #fff;
	display: inline-block;
	padding-bottom: 0.2em;
	position: relative;
	margin: 1.4em;
}

/* Wrapper */

.wrapper {
	padding: 2em 0 2em 0;
}

.wrapper>.inner {
	width: 60em;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {

	.wrapper>.inner {
		width: 90%;
	}

}

@media screen and (max-width: 980px) {

	.wrapper>.inner {
		width: 100%;
	}

}

.wrapper.style1 {
	background-color: trasparent;
	color: #ffffff;
}

@media screen and (max-width: 736px) {

	.wrapper.style1 .features li {
		border-top-color: rgba(0, 0, 0, 0.125);
	}

}

.wrapper.style2 {
	background-color: transparent;
}

.wrapper.style3 {
	background-color: transparent;
	color: #ffffff;
}

@media screen and (max-width: 980px) {

	.wrapper {
		padding: 4em 3em 2em 3em;
	}
}

@media screen and (max-width: 736px) {

	.wrapper {
		padding: 2em 1em 1em 1em;
	}
}

/* Header */

#header {
	-moz-transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	background: #2e3842;
	height: 3em;
	left: 0;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

@media screen and (max-width: 736px) {

	#header h1 a {
		font-size: 0.8em;
	}

}

/* Banner */
#banner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	cursor: default;
	height: 100vh;
	min-height: 35em;
	overflow: hidden;
	position: relative;
	text-align: center;
}

#banner h2 {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	display: inline-block;
	font-size: 2em;
	opacity: 1;
	padding: 0.35em 1em;
	position: relative;
	z-index: 1;
	font-family: 'patrickHand';
}

#banner h2:before,
#banner h2:after {
	-moz-transition: width 0.85s ease;
	-webkit-transition: width 0.85s ease;
	-ms-transition: width 0.85s ease;
	transition: width 0.85s ease;
	-moz-transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	transition-delay: 0.25s;
	background: #ffffff;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	width: 100%;
}

#banner h2:before {
	top: 0;
	left: 0;
}

#banner h2:after {
	bottom: 0;
	right: 0;
}


#banner:after {
	pointer-events: none;
	-moz-transition: opacity 3s ease-in-out;
	-webkit-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
	-moz-transition-delay: 1.30s;
	-webkit-transition-delay: 1.30s;
	-ms-transition-delay: 1.30s;
	transition-delay: 1.30s;
	content: '';
	background: #56687a;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

body.is-preload #banner h2 {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0;
}

body.is-preload #banner h2:before,
body.is-preload #banner h2:after {
	width: 0;
}


body.is-preload #banner:after {
	opacity: 300;
}

/* Landing */
body.landing #page-wrapper {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
} 

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondo.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

body.is-mobile.landing #page-wrapper {
	background: none;
} 

body.is-mobile.landing #footer {
	background-color: #1d242a;
}
